* {
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
      sans-serif;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  
  #root {
    overflow: hidden;
  }
  
  .container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  svg {
    pointer-events: none;
    position: fixed;
    top: 90%;
    left: 25%;
    width: 20vw;
    max-width: 600px;
    transform-origin: 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 10em;
  }
  
  #bg {
    fill: #2dd0dc;
  }
  #sweater > path:nth-child(1) {
    fill: #60d882;
  }
  #sweater > path:nth-child(2) {
    fill: #37c47a;
  }
  #sweater > path:nth-child(3) {
    fill: #37c47a;
  }
  
  #face > path:nth-child(1) {
    fill: #ffe2b8;
  }
  #face > path:nth-child(2) {
    fill: #ffc987;
  }
  #eye > path:nth-child(2) {
    fill: #f0f0f0;
  }
  #eye > g:first-of-type > path:nth-child(1) {
    fill: #2dd0dc;
  }
  #eye > g:first-of-type > path:nth-child(2) {
    fill: #0f9390;
  }
  #eye > g:last-of-type > path:nth-child(2) {
    fill: #231f20;
  }
  #mouth > path:nth-child(1) {
    fill: #FFA1C3;
  }
  #mouth > path:nth-child(2) {
    fill: #b7092b;
  }
  #mouth > path:nth-child(3) {
    fill: #a00026;
  }
  #mouth > path:nth-child(4) {
    fill: #ffffff;
  }
  #hair > path:nth-of-type(1) {
    fill: #B86B28;
  }
  #hair > path:nth-of-type(2) {
    fill: #B86B28;
  }
  #hair > path:nth-of-type(3) {
    fill: #B86B28;
  };

  .header-container{
    height: 120vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
   
    .name{
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size:10vh;
    margin: 0 !important;
    margin-left: 5vh !important;
        margin-top: 30vh !important;
    
    
    }
    .name2{
        font-family: 'Exo 2', sans-serif;
        color: white;
        font-size:5vh;
        margin: 0 !important;
        margin-left: 5vh !important
        }
}
  